body {
    margin: 0;
    font-family: "Helvetica" , sans-serif;
    font-size: 14px;
    color: rgb(0, 0, 0);
}

#header > li {
    padding-left: 1em;
    font-family: "Helvetica" , sans-serif;
    font-size: 13px;
}

#header {
    align-items: center;
}

#nav, #navLeft {
    display: flex;
    margin: 0;
}

#navRight {
    align-items: flex-end;
}


.roundedCorners    {
    border-radius: 5px;
}

li {
    
    display: inline;
    float: left;
    padding: 0.4vh;
}

li:hover {
    text-decoration: underline;
}

#sign-in {
    color: white;
    background-color: rgb(0, 102, 255);
    border-width: 0px;
    padding: 1vh 3vh 1vh 3vh;

}

.logo {
    display: flex;
    justify-content: center;
    border: 3px solid;
    padding-bottom: 2vh;
}

div {
        width:300px;
        margin: auto;
        padding-top: 7%;
        padding-bottom: 1em;
}

form {
   display: flex;
   justify-content: center;
}

#searchBar {
    width: 40%;
    border-radius: 50px;
    border: 1px solid rgb(214, 214, 214);
    padding: 1em 1em;
    margin-bottom: 2em;
    background-image: url(images/search_black_24dp.svg), url(images/mic_black_24dp.svg);
    opacity: 0.3;
    background-repeat: no-repeat;
    background-position: 10px 10px, 98%;
    
    
}


#searchBar:hover {
    box-shadow: 0 2px 7px rgb(214, 214, 214);
}

#submit, #lucky {
    color: rgb(85, 85, 85);
    margin-right: 1em;
    background-color: rgb(245, 245, 245);
    border: 0;
    padding: 0.5em 1.5em;                
}

#submit:hover, #lucky:hover {
    border: 1px solid rgb(214, 214, 214);
    box-shadow: 0 2px 7px rgb(214, 214, 214);
}

.footer {
    background-color: rgb(242, 242, 242);
    position: fixed;
    margin: 0%;
    bottom: 0%;
    width: 100%;
    padding-bottom: 0.1vh;
    padding-top: 0.1vh;
}


#plant {
    opacity: 0.3;
}


li.footerText {
    color: rgb(92, 92, 92);
    font-size: 0.99em !important;
}